<div class="header">
    <h1>Petition</h1>
    <p>About something something</p>
</div>
<div class="form">
    {{#if err}}
    <h3 class="msg">Please try again! 🚨</h3>
    {{else}}
    <a href="/registration" class="msg">Dont have an account yet? Please register</a>
    {{/if}}

    <form method="POST" action="#">
        <div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="email" name="email" value="" placeholder="Email" autocomplete="off">
            <input type="password" name="password" value="" placeholder="Password" autocomplete="off">
        </div>
        <button id="submit" name="submit" value="submit"> Login </submit>
    </form>
</div>