<form method="POST" action="#">
    <div class="form">

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input class="age" type="text" name="age" value="" placeholder="Age" autocomplete="off">
        <input class="city" type="text" name="city" value="" placeholder="Last Name" autocomplete="off">
        <input type="text" name="url" value="" placeholder="URL" autocomplete="off">
    </div>
    <button id="submit" name="submit" value="submit"> Submit </submit>