<div class="page">
    <img class="pic3" src="/pic3.jpg" alt="background picture">
    <div class="in">
        <div class="thanks">
            {{!-- <img class="thanks-pic" src="/pup.jpg" alt="pup"> --}}
            {{!-- <img src="URLthatWeGetFromCanvas" alt="" srcset="">
We get a unique id in a table, so id can be stored in a cookie and 
 --}}
            <img src="{{usersSignature}}" alt="your signature">
            </br>
            <a class="signers" href="signers" name="look"> Here is the number of people who have already joined us! </a>
            <p class="number">{{amount}}</p>
            {{!-- //we can wrap an a tag in a button here to show the list--}}
            <button><a href="signers">Take a look at our signers</a></button>
            <button><a href="edit">Edit your profile</a></button>
            <button><a href="delete">Delete your signature</a></button>
        </div>
    </div>
</div>