<div class="thanks">
    <img class="thanks-pic" src="/public/pup.jpg" alt="">

    <a href=""> Here is a list of people who joined us! </a>
    {{!-- <p>{{num_subscribers}}</p> --}}
</div>

<a href="/" class="go-back">Back to Homepage</a>