<div class="header">
    <h1>Petition</h1>
    <p>About something something</p>
</div>
<div class="form">
    {{#if err}}
    <h3 class="msg">Please try again! 🚨</h3>
    {{else}}
    <h4 class="msg">Join us!</h4>
    {{/if}}

    <form method="POST" action="#">
        <input class="first" type="text" name="first" value="" placeholder="First Name" autocomplete="off">
        <input class="last" type="text" name="last" value="" placeholder="Last Name" autocomplete="off">
        <div>
            {{!-- figure out the < error --}}

            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" id="hidden" value="" name="signature">
            <canvas name="signature" id="canvas" height="230" width="380" style="border: 2px solid black"></canvas>
        </div>
        <button id="submit" name="submit" value="submit"> Submit </submit>
    </form>
</div>